/*
 * MIXINS
 */
/*
 * VARIABLES
 */
body {
  background: #322b2f;
  overflow-x: hidden;
  padding-top: 20px;
}
* {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
button,
i {
  cursor: pointer;
}
i {
  font-size: 24px;
}
#application {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  color: #666;
  font-family: 'Helvetica Nueue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #fff;
  font-weight: 100;
}
#application i {
  float: right;
  margin: 3px 10px;
}
#application i.active {
  color: #dae035 !important;
  text-shadow: 0 0 4px #dae035;
}
#source {
  color: #F2F2F1;
  font-family: monospace;
  position: fixed;
  padding: 6px;
  text-indent: 6px;
  bottom: -13px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
}
#source.error {
  color: #ab1a25;
}
#views {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 60px;
}
#views .nav {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-right: 15px;
  text-align: center;
  cursor: pointer;
  font-family: 'Helvetica Nueue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #fff;
}
#views .nav.current {
  color: #322b2f;
  background: #fff;
}
/*
 * TRADITIONAL INTERFACE
 */
#traditional {
  font-family: 'Helvetica Nueue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #fff;
}
#traditional h1 {
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 200;
}
#traditional h1.backward {
  color: #fff;
}
#traditional .section {
  width: 33%;
  float: left;
  height: 450px;
  padding: 10px;
  box-sizing: border-box;
}
#traditional .section .container {
  position: relative;
}
#traditional .section:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: -1;
  width: 31%;
  min-height: 610px;
  border-radius: 9px;
  margin-top: -12px;
}
#traditional .section.current:before {
  background: rgba(0, 0, 0, 0.1);
}
#traditional .count {
  font-family: monospace;
  font-size: 34px;
  width: 90%;
  margin: 0 5%;
  text-align: center;
}
#traditional .count.changed {
  color: #dae035;
}
#traditional .set {
  padding: 5px 0;
}
#traditional .set div {
  padding: 5px 0;
}
#traditional .set span {
  width: 30%;
  display: inline-block;
  text-align: right;
}
#traditional .set input[type=number],
#traditional .set input[type=text] {
  font-size: 22px;
  width: 55%;
  text-align: center;
  float: right;
  margin-right: 5%;
}
#traditional .set input[type=number].changed,
#traditional .set input[type=text].changed {
  color: #dae035;
}
#traditional .set input[type=radio] {
  margin-left: 80px;
}
#traditional .set form {
  padding-left: 45px;
  margin-bottom: 0;
}
#traditional .set.first {
  margin-top: 25px;
}
#traditional .onoff {
  padding: 9px 13px 0;
}
#traditional .onoff span {
  margin-left: 3px;
  font-size: 12px;
}
#traditional .onoff label {
  width: 48%;
  display: inline-block;
}
#traditional .ratio {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 25px;
}
#traditional .ratio label {
  display: block;
  font-size: 22px;
  margin-bottom: 8px;
  padding-top: 10px;
}
#traditional .ratio span {
  font-size: 11px;
}
#traditional .ratio input[type=number] {
  width: 20%;
  margin-left: 6px;
  margin-right: 3px;
  text-align: center;
  font-size: 17px;
}
#traditional .set.loop {
  margin-top: 12px;
  margin-bottom: 23px;
}
#traditional .set.loop span {
  font-size: 26px;
}
#traditional .set.capping {
  text-align: center;
}
#traditional .set.capping span {
  width: auto;
  text-align: inherit;
  font-size: 11px;
}
#traditional .set.capping label {
  text-align: center;
  font-size: 22px;
  display: block;
}
#traditional .set.capping input[type=radio] {
  margin-left: 3px;
}
#traditional #run {
  display: block;
  border-radius: 5px;
  border: 2px solid #ffffff;
  text-align: center;
  background: transparent;
  color: #ffffff;
  padding: 8px 0;
  font-size: 12px;
  font-weight: 400;
  margin-top: 35px;
}
#traditional #run span {
  display: block;
  font-size: 16px;
  font-weight: 200;
}
#traditional #run:active,
#traditional #run .active {
  background: #ffffff;
  color: #322b2f;
}
#traditional #run span {
  font-size: 29px;
}
#traditional #stop {
  display: block;
  border-radius: 5px;
  border: 2px solid #ffffff;
  text-align: center;
  background: transparent;
  color: #ffffff;
  padding: 8px 0;
  font-size: 12px;
  font-weight: 400;
}
#traditional #stop span {
  display: block;
  font-size: 16px;
  font-weight: 200;
}
#traditional #stop:active,
#traditional #stop .active {
  background: #ffffff;
  color: #322b2f;
}
#traditional #stop span {
  font-size: 29px;
}
#traditional button {
  display: block;
  border-radius: 5px;
  border: 2px solid #ffffff;
  text-align: center;
  background: transparent;
  color: #ffffff;
  padding: 8px 0;
  font-size: 12px;
  font-weight: 400;
  width: 90%;
  margin: 10px 5% 0 5%;
}
#traditional button span {
  display: block;
  font-size: 16px;
  font-weight: 200;
}
#traditional button:active,
#traditional button .active {
  background: #ffffff;
  color: #322b2f;
}
/*
 * SEQUENCER
 */
#sequencer {
  display: none;
  font-family: 'Helvetica Nueue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #fff;
}
#sequencer #counters .cam,
#sequencer #counters .proj {
  width: 50%;
  padding-bottom: 25px;
}
#sequencer #counters .cam label,
#sequencer #counters .proj label {
  text-align: center;
  font-size: 42px;
  display: block;
}
#sequencer #counters .cam input,
#sequencer #counters .proj input {
  padding: 6px 12px;
  font-size: 32px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: monospace;
}
#sequencer #counters .cam input.changed,
#sequencer #counters .proj input.changed {
  color: #dae035;
}
#sequencer #counters .cam {
  float: left;
}
#sequencer #counters .proj {
  float: right;
}
#sequencer #seq_scroll {
  width: 100%;
  overflow-x: scroll;
}
#sequencer #seq_scroll > div > div > div {
  float: left;
}
#sequencer #seq_scroll > div > div > div input {
  float: none;
}
#sequencer #seq_scroll > div > div > div > div {
  font-size: 8px;
  text-align: center;
  color: #dcdcdc;
}
#sequencer #seq_scroll > div > div > div:first-child {
  float: left;
  line-height: 35px;
  font-size: 12px;
  width: 50px;
  margin-right: 6px;
  text-align: right;
}
#sequencer #sequence {
  width: 1000em;
}
#sequencer #sequence #cam_forward,
#sequencer #sequence #proj_forward,
#sequencer #sequence #black_forward {
  clear: both;
}
#sequencer #sequence #cam_forward input[type=checkbox],
#sequencer #sequence #proj_forward input[type=checkbox],
#sequencer #sequence #black_forward input[type=checkbox] {
  border: 1px solid #00c4a0;
  margin-right: 3px;
}
#sequencer #sequence #cam_forward input[type=checkbox]:checked,
#sequencer #sequence #proj_forward input[type=checkbox]:checked,
#sequencer #sequence #black_forward input[type=checkbox]:checked {
  background: #00c4a0;
}
#sequencer #sequence #cam_forward > div,
#sequencer #sequence #proj_forward > div,
#sequencer #sequence #black_forward > div {
  color: #00c4a0;
}
#sequencer #sequence #cam_backward,
#sequencer #sequence #proj_backward,
#sequencer #sequence #black_backward {
  clear: both;
}
#sequencer #sequence #cam_backward input[type=checkbox],
#sequencer #sequence #proj_backward input[type=checkbox],
#sequencer #sequence #black_backward input[type=checkbox] {
  border: 1px solid #ab1a25;
  margin-right: 3px;
}
#sequencer #sequence #cam_backward input[type=checkbox]:checked,
#sequencer #sequence #proj_backward input[type=checkbox]:checked,
#sequencer #sequence #black_backward input[type=checkbox]:checked {
  background: #ab1a25;
}
#sequencer #sequence #cam_backward > div,
#sequencer #sequence #proj_backward > div,
#sequencer #sequence #black_backward > div {
  color: #ab1a25;
}
#sequencer #sequence #cam_backward {
  margin-top: 15px;
}
#sequencer #sequence input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 3px;
  float: left;
  box-sizing: border-box;
}
#sequencer #sequence input.h {
  background: #dae035 !important;
  border-color: #dae035 !important;
}
#sequencer #sequence #numbers {
  clear: both;
}
#sequencer #sequence #numbers > div {
  width: 35px;
  color: #fff;
  font-family: monospace;
  float: left;
  margin: 3px;
  text-align: center;
  opacity: 0.5;
}
#sequencer #actions {
  padding: 20px;
}
#sequencer #stats {
  padding: 20px;
}
#sequencer #stats .timing span {
  font-style: italic;
}
#sequencer button {
  display: block;
  border-radius: 5px;
  border: 2px solid #ffffff;
  text-align: center;
  background: transparent;
  color: #ffffff;
  padding: 8px 0;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  padding: 8px 25px;
  font-size: 16px;
}
#sequencer button span {
  display: block;
  font-size: 16px;
  font-weight: 200;
}
#sequencer button:active,
#sequencer button .active {
  background: #ffffff;
  color: #322b2f;
}
/*
 * MSCRIPT EDITOR
 * Codemirror?
 */
#mscript {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#mscript button {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 1000;
}
#mscript textarea {
  -webkit-appearance: none;
  appearance: none;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  border: 0;
  background: transparent;
  outline: none !important;
  padding: 25px;
  font-size: 14px;
  font-family: monospace;
}
#mscript .CodeMirror {
  margin-top: 30px !important;
}
#checklist {
  display: none;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
/*
 * GENERAL
 */
input[type=number],
input[type=text] {
  -webkit-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  color: white;
  outline: none !important;
  padding: 4px 0;
}
input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  outline: none;
  width: 22px;
  height: 8px;
}
input[type=radio]:before {
  position: absolute;
  content: " ";
  display: block;
  height: 22px;
  width: 22px;
  border-radius: 4px;
  border: 1px solid #fff;
  margin-top: -6px;
}
input[type=radio]:checked:before {
  background: #fff;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(160, 160, 160, 0.5);
}
button {
  outline: none;
  -webkit-appearance: none;
}
/*
 * DARKROOM STYLE
 */
body.darkroom * {
  color: red;
}
